# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts should always use LF
*.sh text eol=lf

# These files are text and should be normalized (convert crlf => lf)
*.css text
*.html text
*.java text
*.js text
*.json text
*.jsx text
*.md text
*.properties text
*.py text
*.sql text
*.ts text
*.tsx text
*.xml text
*.yml text
*.yaml text

# These files are binary and should be left untouched
*.class binary
*.dll binary
*.ear binary
*.gif binary
*.gz binary
*.ico binary
*.jar binary
*.jpg binary
*.jpeg binary
*.png binary
*.so binary
*.tar binary
*.war binary
*.zip binary

